<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="intsis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
		<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="intsis.Properties.Settings.NotebookSQL" connectionString="Data Source=DESKTOP-2VLO4HT;Initial Catalog=intsisIR311;Persist Security Info=True;User ID=sa;Password=123;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="intsisEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GMNRSQ7;initial catalog=intsisIR311;persist security info=True;user id=sa;password=123;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="intsis.Properties.Settings.NotebookSQL2" connectionString="Data Source=DESKTOP-GMNRSQ7;Initial Catalog=intsisIR311;Persist Security Info=True;User ID=sa;Password=123;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="intsis.Properties.Settings.PC" connectionString="Data Source=REVISION-PC;Initial Catalog=intsisIR311;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="intsisEntitiesLDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=intsisIR311;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <intsis.Properties.Settings>
      <setting name="RestAPI_URL" serializeAs="String">
        <value>http://192.168.0.109:8000/</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="IsLocalDB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChoosedServer" serializeAs="String">
        <value>Data Source=REVISION-PC;Initial Catalog=intsisIR311;Persist Security Info=True;User ID=sa;Password=123</value>
      </setting>
    </intsis.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>